
section.animes-found{
    display: flex;
    align-items: center;
}
article.anime-card{
    position: relative;
    width: 100%;
}

article.anime-card span{
    position: absolute;
    font-size: 1.5rem;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 6px;
    text-align: center;

    border: 1px solid #ccc;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
}
article.anime-card a img{
    width: 100%;
    border-radius: 1%;
}